{% schema %}
{
  "name": "Blog Block",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Select Blog"
    },
    {
      "type": "richtext",
      "id": "extra_html",
      "label": "Additional HTML/Text"
    }
  ],
  "presets": [
    {
      "name": "Blog Block"
    }
  ]
}
{% endschema %}

<div>
  <h2>Latest Articles</h2>
  {% assign articles = blogs[section.settings.blog].articles | slice: 0, 3 %}
  <ul>
    {% for article in articles %}
      <li>
        <a href="{{ article.url }}">{{ article.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <div>{{ section.settings.extra_html }}</div>
</div>
